<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- AnalysisMapper 인터페이스의 package이름과 같아야 함 -->
<mapper namespace="com.example.demo.dao.mybatis.mapper.AnalysisMapper">

  <select id="getAnalysisList" resultType="com.example.demo.domain.AnalysisRequest">
    SELECT id, req_name as reqName, req_date as reqDate, status,
                file_path as filePath, grant_check as grantCheck
    FROM analysis_request
    ORDER BY req_date ASC;
  </select>

  <insert id="insertAnalysis" parameterType="com.example.demo.domain.AnalysisRequest">
    INSERT INTO analysis_request (id, req_name, req_date, status, grant_check)
    SELECT case count(*) when 0 then 1 else max(id) + 1 end,
            #{reqName}, #{reqDate}, #{status}, 0
    FROM analysis_request;

    <selectKey keyProperty="id" resultType="int" order="AFTER">
      SELECT max(id) as id from analysis_request;
    </selectKey>

  </insert>

  <update id="changeStatusToRun" parameterType="int">
    UPDATE analysis_request SET status = 'run' WHERE id=#{id};
  </update>

  <update id="changeToGranted" parameterType="int">
    UPDATE analysis_request SET grant_check = 1 WHERE id=#{id};
  </update>

  <select id="getAnalysisById" parameterType="int" resultType="com.example.demo.domain.AnalysisRequest">
    SELECT id, req_name as reqName, req_date as reqDate, status,
                file_path as filePath, grant_check as grantCheck
    FROM analysis_request WHERE id=#{id};
  </select>


</mapper>